button {
    margin:20px;
    border-radius: 42px;
    border: 1px solid #C4C4C4;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-transform: capitalize;
    color: #878787;
    padding: 15px;
}

select {
    padding: 7px;
    border-radius: 42px;
    margin-left: 38%;
}